body{
    margin: 0;
}
#container{
    height: calc(100vh);
}

#editor{
    position: relative;
    width: 50%;
    display: block;
    background-color: black;
    color: whitesmoke;
    height: 100%;
    float: left;
    overflow: auto;
}

#previewer{
    position: relative;
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    overflow: auto;
}

/*#previewer*/
.editor-line{
    white-space: nowrap;
}
.editor-line:hover{
    background-color: #282828;
}

#previewer pre{
    background-color: #410027;
    width: 80%;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    overflow-x: auto;
}

#previewer blockquote{
    border-left: #ae631f 5px solid;
    padding: 0 5%;
    background-color: #e7c594;
}

#previewer img{
    margin: 0 10%;
    width: 80%;
}

#previewer p {
    margin: 2px;
    word-break: break-all;
}

#previewer table{
    /*width: 80%;*/
    margin: 0 auto;
}
#previewer thead{
    background-color: #2b2b2b;
    color: floralwhite;
}
#previewer tbody tr:nth-child(odd){
    background-color: #e5e5e5;
}
#previewer tbody tr:nth-child(even){
    background-color: whitesmoke;
}
#previewer td,#previewer th{
    padding: .5em;
}

p code{
    padding: 2px 4px;
    font-size: 110%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}